{% extends "base.html" %}

{% block content %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        {% include "settings/groups_blockhead.html" %}
        <div class="nk-block">
            <div class="card card-preview">
                <div class="card-inner">
                    <table id="tbl_groups" class="datatable-init nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                        <thead>
                            <tr class="nk-tb-item nk-tb-head">
                                <th class="nk-tb-col nk-tb-col-check">
                                    <div class="custom-control custom-control-sm custom-checkbox notext">
                                        <input type="checkbox" class="custom-control-input" id="uid">
                                        <label class="custom-control-label" for="uid"></label>
                                    </div>
                                </th>
                                <th class="nk-tb-col"><span class="sub-text">Group Name</span></th>
                                <th class="nk-tb-col nk-tb-col-tools text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for group in groups %}
                            <tr class="nk-tb-item">
                                <td class="nk-tb-col nk-tb-col-check">
                                    <div class="custom-control custom-control-sm custom-checkbox notext">
                                        <input type="checkbox" class="custom-control-input record-check"
                                            id="{{group.id}}">
                                        <label class="custom-control-label" for="{{group.id}}"></label>
                                    </div>
                                </td>
                                <td id="{{group.slug}}" class="nk-tb-col select-group"
                                    style="cursor: pointer !important;">
                                    <div class="user-card">
                                        <div class="user-info">
                                            <span
                                                class="tb-lead">{{group.module.bp_name|upper}}&nbsp;/&nbsp;{{group.name}}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="nk-tb-col nk-tb-col-tools">
                                    <ul class="nk-tb-actions gx-1">
                                        <li>
                                            <div class="drodown">
                                                <a href="#" class="dropdown-toggle btn btn-icon btn-trigger"
                                                    data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#"><em
                                                                    class="icon ni ni-download"></em><span>Export</span></a>
                                                        </li>
                                                        {% if current_user|can_delete(2) %}
                                                        <li><a id="{{group.id}}" href="delete-group"
                                                                class="_delete-group"><em
                                                                    class="icon ni ni-delete"></em><span>Delete</span></a>
                                                        </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <!-- .nk-tb-item  -->
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div><!-- .card-preview -->
        </div>
    </div>
    <!-- footer @s -->
    {% include "footer.html" %}
    <!-- footer @e -->
</div>
<div class="modal fade" tabindex="-1" id="confirm-delete-group">
    <div class="modal-dialog modal-dialog-top" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this record.</p>
            </div>
            <div class="modal-footer">
                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                    <li>
                        <a href="delete-group" class="btn btn-m btn-primary btn-block delete-group">OK</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">CANCEL</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}