<style>
    .nk-block-des {
        margin-bottom: 0.5rem;
    }

    .selected-groups {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
        display: none;
    }

    .actions {
        color: #0c5460;
    }

    .li-actions {
        display: none;
    }
</style>
<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        {% if title == "Groups | Olam ERP" %}
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title"><a href="{{url_for('settings.settings')}}">
                    Settings
                </a>
                /
                <strong class="text-primary small">
                    <span id="#">User Groups</span>
                </strong>
            </h3>
            
            <div class="nk-block-des text-soft">
                <p>You have {{groups|length}} user group(s).</p>
            </div>
            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                {% if current_user|can_create(3) %}
                <li>
                    <a href="{{url_for('settings.new_group')}}" class="btn btn-m btn-primary btn-block">CREATE</a>
                </li>
                {% endif %}
                <li>
                    <a href="#" data-dismiss="modal" class="btn btn-outline-light export" data-toggle="tooltip"
                        data-placement="right" title="Export">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-save" viewBox="0 0 16 16">
                            <path
                                d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
                        </svg></a>
                    <span class="btn selected-groups"></span>
                </li>
                <li class="li-actions">
                    <div class="drodown">
                        <a href="#" class="dropdown-toggle btn btn-outline-light actions" data-toggle="dropdown">
                            <em class="icon ni ni-setting"></em>
                            <span>Actions</span>
                            <em class="dd-indc icon ni ni-chevron-right"></em>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="link-list-opt no-bdr">
                                <li><a href="#"><span>Export</span></a></li>
                                {% if current_user|can_delete(2) %}
                                <li><a href="delete-group" class="confirm-delete-group"><span>Delete</span></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- .nk-block-head-content -->
        <div class="nk-block-head-content">
            <div class="toggle-wrap nk-block-tools-toggle">
                <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em
                        class="icon ni ni-menu-alt-r"></em></a>
                <div class="toggle-expand-content" data-content="pageMenu">
                    <ul class="nk-block-tools g-3">
                        <li>
                            <div class="drodown">
                                <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light"
                                    data-toggle="dropdown"><em
                                        class="d-none d-sm-inline icon ni ni-filter-alt"></em><span>Filter
                                        By</span><em class="dd-indc icon ni ni-chevron-right"></em></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="link-list-opt no-bdr">
                                        <li><a href="#"><span>Internal Groups</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!-- .toggle-wrap -->
        </div><!-- .nk-block-head-content -->
        {% elif title == "New Group | Olam ERP" %}
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title"><a href="{{url_for('settings.manage_groups')}}">
                    Groups
                </a>
                /
                <strong class="text-primary small">
                    <span id="{{slug}}" class="span-new-group">New</span>
                </strong>
            </h3>
            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                {% if slug %}
                <li>
                    <a href="save" class="btn btn-m btn-primary btn-block save-group">SAVE</a>
                </li>
                {% else %}
                <li>
                    <a href="save" class="btn btn-m btn-primary btn-block save-new-group">SAVE</a>
                </li>
                {% endif %}
                <li>
                    {% if slug %}
                    <a href="{{url_for('settings.discard_group', slug=slug)}}" class="btn btn-outline-light">DISCARD</a>
                    {% else %}
                    <a href="{{url_for('settings.manage_groups')}}" class="btn btn-outline-light">DISCARD</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <!-- .nk-block-head-content -->
        {% else %}
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title"><a href="{{url_for('settings.manage_groups')}}">
                    Groups
                </a>
                /
                <strong class="text-primary small">
                    <span id="{{slug}}"
                        class="span-new-group">{{group.module.bp_name|upper}}&nbsp;-&nbsp;{{group.name}}</span>
                </strong>
            </h3>
            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                {% if edit %}
                <li>
                    <a href="save-group" class="btn btn-m btn-primary btn-block save-group">SAVE</a>
                </li>
                {% else %}
                {% if current_user|can_write(2) %}
                <li>
                    <a href="{{url_for('settings.edit_group', slug=slug)}}"
                        class="btn btn-m btn-primary btn-block">EDIT</a>
                </li>
                {% endif %}
                {% endif %}
                {% if current_user|can_create(2) %}
                <li>
                    <a href="{{url_for('settings.new_group')}}" class="btn btn-outline-light">CREATE</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div><!-- .nk-block-between -->
</div><!-- .nk-block-head -->