{% extends "base.html" %}

{% block content %}
<style>
    .card-bordered {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .modal-header {
        border-bottom: 0px solid #dbdfea;
    }

    .modal-footer {
        border-top: 0px solid #dbdfea;
    }

    .tab-pane {
        overflow: auto;
    }
</style>
<div class="nk-content-body">
    <div class="nk-content-wrap">
        {% include "settings/groups_blockhead.html" %}
        <div class="nk-block">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-fill alert-success alert-icon">
                <em class="icon ni ni-check-circle"></em>
                {{ message }}
                <button class="close" data-dismiss="alert"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="card card-preview">
                <div class="card-inner">
                    <div class="row gy-4">
                        <div class="col-sm-4">
                            <div class="card-title-group">
                                <div class="card-title">
                                    <h6 class="title">
                                        <span class="mr-2"><strong>Application:</strong></span>
                                        <span class="mr-2">{{group.module.bp_name|upper}}</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card-title-group">
                                <div class="card-title">
                                    <h6 class="title">
                                        <span class="mr-2"><strong>Permission Level:</strong></span>
                                        <span class="mr-2">{{group.permission|permission}}</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card-title-group">
                                <div class="card-title">
                                    <h6 class="title">
                                        <span class="mr-2"><strong>Name:</strong></span>
                                        <span class="mr-2">{{group.name}}</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-bordered">
                    <ul class="nav nav-tabs nav-tabs-card">
                        <li {% if page=='group_members' %}class="nav-item active current-page" {% else %}
                            class="nav-item" {% endif %}>
                            <a {% if page=='group_members' %}class="nav-link active" {% else %} class="nav-link" {%
                                endif %} href="{{url_for('settings.group_members', slug=slug)}}"><em
                                    class="icon ni ni-users-fill"></em><span>Users</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('settings.group_rights', slug=slug)}}"><em
                                    class="icon ni ni-lock-alt-fill"></em><span>Access Rights</span></a>
                        </li>
                    </ul><!-- .nav-tabs -->
                    <div class="tab-content">
                        {% if page == 'group_members' %}
                        <div class="tab-pane active" id="users">
                            <div class="card-inner">
                                <table class="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col" style="padding-right: 100px;">Name</th>
                                            <th scope="col" style="padding-right: 100px;">Last Seen</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for member in group_members %}
                                        <tr>
                                            <th scope="row">{{member.id|get_user_name}}</th>
                                            <td>{{ moment(member.last_seen).format('LLL')}}</td>
                                            <td>
                                                {% if current_user|can_delete(2) %}
                                                <a id="{{group.slug}}.{{member.id}}" href="remove-user"
                                                    class="btn btn-icon btn-sm btn-primary remove-user"
                                                    data-toggle="tooltip" data-placement="left" title="Remove user">
                                                    <em class="icon ni ni-cross-sm"></em>
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% if current_user|can_write(2) %}
                                <div class="preview-btn-item  col-sm-6 col-lg-3">
                                    <a href="{{url_for('settings.manage_groups')}}"
                                        class="btn btn-m btn-primary btn-block" data-toggle="modal"
                                        data-target="#modalUsers" style="padding: 0.4375rem 4.125rem;">
                                        <em class="icon ni ni-plus"></em><span>Add User</span>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% elif page == 'group_rights' %}
                        <div class="tab-pane active" id="access_rights">
                            <div class="card-inner">
                                <table class="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col" style="padding-right: 100px;">Name</th>
                                            <th scope="col" style="padding-right: 100px;">Model</th>
                                            <th scope="col">Read Access</th>
                                            <th scope="col">Write Access</th>
                                            <th scope="col">Create Access</th>
                                            <th scope="col">Delete Access</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_access_rights">
                                        {% for access_right in access_rights %}
                                        <tr id="{{access_right.id}}">
                                            <th class="th_accessName" scope="row">
                                                <span
                                                    class="sp_access_right.{{access_right.id}}">{{access_right.name}}</span>
                                                <input id="input.{{access_right.id}}" type="text" style="display: none;"
                                                    class="form-control update_access_right_name"
                                                    placeholder="Name of access right" value="{{access_right.name}}">
                                            </th>
                                            <td class="update_model">
                                                <span id="sp_access_model.{{access_right.id}}"
                                                    class="sp_access_model.{{access_right.id}}">{{access_right.model.name}}</span>
                                                <div id="model_div.{{access_right.id}}"
                                                    class="form-control-wrap dv_select_model"
                                                    style="display: none !important;">
                                                    <select id="select.{{access_right.id}}"
                                                        class="form-select select_model" data-search="on">
                                                        <option value="default_option">Select model</option>
                                                        {% for model in models %}
                                                        <option value="{{model.id}}">{{model.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input read_access"
                                                        id="read_access.{{access_right.id}}" {% if access_right.read %}
                                                        checked {% endif %} {% if not current_user|can_write(4) %} disabled {% endif %}>
                                                    <label class="custom-control-label"
                                                        for="read_access.{{access_right.id}}"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input write_access"
                                                        id="write_access.{{access_right.id}}" {% if access_right.write
                                                        %} checked {% endif %}{% if not current_user|can_write(4) %} disabled {% endif %}>
                                                    <label class="custom-control-label"
                                                        for="write_access.{{access_right.id}}"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input create_access"
                                                        id="create_access.{{access_right.id}}" {% if access_right.create
                                                        %} checked {% endif %} {% if not current_user|can_write(4) %} disabled {% endif %}>
                                                    <label class="custom-control-label"
                                                        for="create_access.{{access_right.id}}"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input delete_access"
                                                        id="delete_access.{{access_right.id}}" {% if access_right.delete
                                                        %} checked {% endif %} {% if not current_user|can_write(4) %} disabled {% endif %}>
                                                    <label class="custom-control-label"
                                                        for="delete_access.{{access_right.id}}"></label>
                                                </div>
                                            </td>
                                            <td>
                                                {% if current_user|can_delete(4) %}
                                                <a id="{{access_right.id}}" href="remove-access-right"
                                                    class="btn btn-icon btn-sm btn-primary remove-access-right"
                                                    data-toggle="tooltip" data-placement="right"
                                                    title="Remove access right">
                                                    <em class="icon ni ni-cross-sm"></em>
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="preview-btn-item  col-sm-6 col-lg-3">
                                    {% if current_user|can_write(4) %}
                                    <a href="#" class="btn btn-m btn-primary btn-block" data-toggle="modal"
                                        data-target="#modalAccessRights" style="padding: 0.4375rem 4.125rem;">
                                        <em class="icon ni ni-plus"></em><span>Add Record</span>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div><!-- .card-preview -->
        </div>
    </div>
    <!-- footer @s -->
    {% include "footer.html" %}
    <!-- footer @e -->
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalUsers">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Users</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body modal-body-md">
                <div class="col-7 col-sm-4alert alert-success alert-icon selected"
                    style="display: none; max-width: 35% !important; margin-bottom: 2% !important;"></div>
                <div class="card card-preview">
                    <div class="card-inner">
                        <table class="datatable-init nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                            <thead>
                                <tr class="nk-tb-item nk-tb-head">
                                    <th class="nk-tb-col nk-tb-col-check">
                                    </th>
                                    <th class="nk-tb-col"><span class="sub-text">Name</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                {% if user.id not in group_members|map(attribute="id") %}
                                <tr class="nk-tb-item">
                                    <td class="nk-tb-col nk-tb-col-check">
                                        <div class="custom-control custom-control-sm custom-checkbox notext">
                                            <input type="checkbox" class="custom-control-input chk_user"
                                                id="{{user.id}}">
                                            <label class="custom-control-label" for="{{user.id}}"></label>
                                        </div>
                                    </td>
                                    <td class="nk-tb-col">
                                        <div class="user-card">
                                            <div class="user-info">
                                                <span class="tb-lead">{{user.name}}</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- .nk-tb-item  -->
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div><!-- .card-preview -->
            </div>
            <div class="modal-footer">
                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                    <li>
                        {% if slug %}
                        <a href="select-user" class="btn btn-m btn-secondary btn-block add-users">SELECT</a>
                        {% else %}
                        <a href="javascript:select_users()"
                            class="btn btn-m btn-secondary btn-block select-user">SELECT</a>
                        {% endif %}
                    </li>
                    {% if current_user|can_create(1) %}
                    <li>
                        <a href="{{url_for('settings.create_user')}}" class="btn btn-m btn-primary btn-block">CREATE</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{url_for('settings.manage_groups')}}" class="btn btn-outline-light"
                            data-dismiss="modal" aria-label="Close">CANCEL</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- .modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalAccessRights">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Access Right</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body modal-body-md">
                <div class="col-7 col-sm-4alert alert-success alert-icon selected"
                    style="display: none; max-width: 35% !important; margin-bottom: 2% !important;"></div>
                <div class="card card-preview" style="overflow: auto;">
                    <div class="card-inner">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" style="padding-right: 100px;">Name</th>
                                    <th scope="col" style="padding-right: 100px;">Model</th>
                                    <th scope="col">Read Access</th>
                                    <th scope="col">Write Access</th>
                                    <th scope="col">Create Access</th>
                                    <th scope="col">Delete Access</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="tbody_access_rights">
                                <tr class="tr-add-access-right">
                                    <td class="td_name">
                                        <input type="text" id="add_access_name" class="form-control add_access_name"
                                            placeholder="Name of access right">
                                    </td>
                                    <td class="td_model">
                                        <select id="select_model" class="form-select select_model" data-search="on">
                                            <option value="default_option">Select model</option>
                                            {% for model in models %}
                                            <option value="{{model.id}}">{{model.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input id="read_access" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="read_access"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input id="write_access" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="write_access"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input id="create_access" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="create_access"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input id="delete_access" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="delete_access"></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- .card-preview -->
            </div>
            <div class="modal-footer">
                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                    <li>
                        {% if slug %}
                        <a href="#" class="btn btn-m btn-secondary btn-block submit-access-right">SUBMIT</a>
                        {% else %}
                        <a href="javascript:select_users()"
                            class="btn btn-m btn-secondary btn-block select-user">SELECT</a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{url_for('settings.manage_groups')}}" class="btn btn-outline-light"
                            data-dismiss="modal" aria-label="Close">CANCEL</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- .modal -->
{% endblock %}