{% extends "base.html" %}

{% block content %}
<style>
    .nk-aside {
        display: none;
    }

    .new-item {
        display: none;
        padding: 5px 5px;
    }

    .new-item-text {
        padding-bottom: 5px;
    }

    .ni-star-fill {
        color: #f4bd0e !important;
    }

    svg {
        height: 50%;
        max-width: 50%;
    }

    .kanban-item {
        cursor: pointer !important;
    }


    @media (min-width: 576px) {
        .mx-w-80 {
            max-width: 80% !important;
        }
    }

    .quill-editor {
        height: auto;
    }
</style>
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h3 class="nk-block-title page-title">Pipeline</h3>
                    <div class="nk-block-des text-soft" style="padding-bottom: 20px !important;">
                        <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                            {% if current_user|can_create(5) %}
                            <li>
                                <input id="btn_additem-1" class="btn btn-m btn-primary btn-block add-item" id="submit1"
                                    name="submit1" type="submit" value="CREATE">
                            </li>
                            {% endif %}
                            <li>
                                <a href="#" data-dismiss="modal" class="btn btn-outline-light">GENERATE LEADS</a>
                            </li>
                        </ul>
                    </div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-icon alert-dismissible">
                        <em class="icon ni ni-check-circle"></em> <strong>{{ message }}</strong>
                        <button class="close" data-dismiss="alert"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div><!-- .nk-block-head-content -->
                <div class="nk-block-head-content">
                    <div class="toggle-wrap nk-block-tools-toggle">
                        <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em
                                class="icon ni ni-menu-alt-r"></em></a>
                        <div class="toggle-expand-content" data-content="pageMenu">
                            <ul class="nk-block-tools g-3">
                                <li>
                                    <div class="drodown">
                                        <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light"
                                            data-toggle="dropdown">
                                            <em class="icon ni ni-filter-fill"></em>
                                            <span>Filters</span><em class="dd-indc icon ni ni-chevron-right"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                {% for filter in filters %}
                                                <li>
                                                    <a id="{{filter[0]}}" class="filter-pipeline" href="#">
                                                        {% if filter[1]|contains(selectedFilters) %}
                                                        <em class="icon ni ni-check-thick"></em>
                                                        {% endif %}
                                                        <span>{{filter[1]}}</span>
                                                    </a>
                                                </li>
                                                {% endfor %}
                                                {% for stage in stages %}
                                                <li>
                                                    <a id="{{stage.id}}" class="filter-pipeline" href="#">
                                                        {% if stage.name|contains(selectedFilters) %}
                                                        <em class="icon ni ni-check-thick"></em>
                                                        {% endif %}
                                                        <span>{{stage.name}}</span>
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                {% if current_user|can_create(6) %}
                                <li>
                                    <a id="addBoard" href="#" class="btn btn-white btn-outline-light">
                                        <em class="icon ni ni-plus"></em>
                                        <span>Add Stage</span>
                                    </a>
                                </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div><!-- .toggle-wrap -->
                </div><!-- .nk-block-head-content -->
            </div><!-- .nk-block-between -->
            <div class="nk-search-box">
                <div class="form-group">
                    <div class="form-control-wrap">
                        <input id="search_pipeline" type="text" class="form-control form-control-lg"
                            placeholder="Search..." value="{{selectedFilters}}">
                        <button class="form-icon form-icon-right">
                            <em class="icon ni ni-search"></em>
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- .nk-block-head -->
        <div class="nk-block">
            <div id="kanban" class="nk-kanban">
                <div class="kanban-container" style="width: 100%;">
                    {% for stage in stages %}
                    <div data-id="_{{stage.name}}" data-order="{{stage.id}}" class="kanban-board"
                        style="width: 320px; margin-left: 0px; margin-right: 0px;">
                        <header class="kanban-board-header kanban-light">
                            <div class="kanban-title-board">
                                <div class="kanban-title-content">
                                    <h6 id="stage_title_{{stage.id}}" class="title">
                                        {{stage.name}}
                                    </h6>
                                    <span class="badge badge-pill badge-outline-light text-dark">
                                        {{stage.id|get_pipeline_count}}
                                    </span>
                                </div>
                                <div class="kanban-title-content">
                                    <div class="drodown">
                                        <a href="#" class="dropdown-toggle btn btn-sm btn-icon btn-trigger mr-n1"
                                            data-toggle="dropdown" aria-expanded="false">
                                            <em class="icon ni ni-more-h"></em>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                {% if current_user|can_write(6) %}
                                                <li>
                                                    <a id="{{stage.id}}" href="#" class="edit-stage">
                                                        <em class="icon ni ni-edit"></em>
                                                        <span>Edit
                                                            Stage</span>
                                                    </a>
                                                </li>
                                                {% if stage.position != max_stage_position %}
                                                <li>
                                                    <a id="{{stage.id}}" href="#" class="move-stage-forward">
                                                        <em class="icon ni ni-forward-alt"></em>
                                                        <span>Move Stage Forward</span>
                                                    </a>
                                                </li>
                                                {% endif %}
                                                {% if stage.position != first_stage_position %}
                                                <li>
                                                    <a id="{{stage.id}}" href="#" class="move-stage-behind">
                                                        <em class="icon ni ni-back-alt"></em>
                                                        <span>Move Stage Behind</span>
                                                    </a>
                                                </li>
                                                {% endif %}
                                                {% endif %}
                                                {% if current_user|can_delete(6) %}
                                                <li>
                                                    <a id="{{stage.id}}" href="#" class="delete-stage">
                                                        <em class="icon ni ni-trash"></em>
                                                        <span>Delete Stage</span>
                                                    </a>
                                                </li>
                                                {% endif %}
                                                <li>
                                                    <a id="btn_additem-{{stage.id}}" href="#" class="add-item">
                                                        <em class="icon ni ni-plus-sm add-item"></em>
                                                        <span>Add
                                                            Item</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <main class="kanban-drag">
                            <div class="kanban-item new-item" id="new_item_{{stage.id}}">
                                <form method="POST">
                                    {{form3.hidden_tag()}}
                                    <div class="kanban-item-text new-item-text">
                                        <div class="form-group">
                                            <label class="form-label">
                                                Organization/Contact
                                            </label>
                                            <div class="form-control-wrap">
                                                <select id="pipeline_select_org-{{stage.id}}" name="pipeline_select_org"
                                                    class="form-select select_contact" data-search="on" data-ui="sm">
                                                    <option value="default_option">
                                                        Select or add new
                                                    </option>
                                                    <option value="add_new">
                                                        Add New +
                                                    </option>
                                                    {% for partner in partners %}
                                                    <option value="{{partner.id}}">
                                                        {% if partner.is_company %}{{partner.company_name}}{% elif
                                                        partner.is_individual %}{{partner.name}} -
                                                        {{partner.parent.company_name}}{%
                                                        endif %}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kanban-item-text new-item-text">
                                        <div class="form-group">
                                            <label class="form-label" for="default-1-03">Opportunity</label>
                                            <div class="form-control-wrap">
                                                <input name="opportunity" type="text"
                                                    class="form-control form-control-sm"
                                                    placeholder="e.g Quote for 120 laptops">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kanban-item-text new-item-text">
                                        <div class="form-group">
                                            <label class="form-label" for="default-1-03">Email</label>
                                            <div class="form-control-wrap">
                                                <input name="partner_email" id="partner_email_{{stage.id}}" type="email"
                                                    class="form-control form-control-sm" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kanban-item-text new-item-text">
                                        <div class="form-group">
                                            <label class="form-label" for="default-1-03">Phone</label>
                                            <div class="form-control-wrap">
                                                <input name="partner_phone" id="partner_phone_{{stage.id}}" type="phone"
                                                    class="form-control form-control-sm" placeholder="Phone">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kanban-item-text new-item-text">
                                        <div class="form-group">
                                            <label class="form-label">Currency</label>
                                            <div class="form-control-wrap">
                                                <select name="_partner_currency" class="form-select" data-search="on"
                                                    data-ui="sm">
                                                    {% for currency in currencies %}
                                                    {% if currency != None %}
                                                    <option value="{{currency}}" {% if currency==user_currency
                                                        %}selected{% endif %}>{{currency}}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="kanban-item-tags new-item-text">
                                        <li>
                                            <div class="form-group">
                                                <label class="form-label" for="default-1-03">Expected Revenue</label>
                                                <div class="form-control-wrap">
                                                    <input name="expected_revenue" id="expected_revenue" type="text"
                                                        min="1" step="any"
                                                        class="expected_revenue form-control form-control-sm"
                                                        placeholder="e.g 1,000,000">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group">
                                                <label class="form-label">Recurring Plan</label>
                                                <div class="form-control-wrap">
                                                    <select name="recurring_plan" id="recurring_plan-{{stage.id}}"
                                                        class="form-select recurring-plan" data-search="on"
                                                        data-ui="sm">
                                                        <option value="default_option">Select or add new</option>
                                                        <option value="new_plan">Add New +</option>
                                                        {% for plan in plans %}
                                                        <option value="{{plan.id}}">{{plan.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="kanban-item-tags">
                                        <li>
                                            <label class="form-label">Priority</label>
                                        </li>
                                        <li>
                                            <div class="asterisk">
                                                <a data-toggle="tooltip" data-placement="top" title="Medium"
                                                    id="selectPriority1-{{stage.id}}" name="{{stage.id}}"
                                                    class="select-priority" href="#">
                                                    <em id="priority1-{{stage.id}}"
                                                        class="asterisk-off icon ni ni-star"></em>
                                                </a>
                                                <a data-toggle="tooltip" data-placement="top" title="High"
                                                    id="selectPriority2-{{stage.id}}" name="{{stage.id}}"
                                                    class="select-priority" href="#">
                                                    <em id="priority2-{{stage.id}}"
                                                        class="asterisk-off icon ni ni-star"></em>
                                                </a>
                                                <a data-toggle="tooltip" data-placement="top" title="Very High"
                                                    id="selectPriority3-{{stage.id}}" name="{{stage.id}}"
                                                    class="select-priority" href="#">
                                                    <em id="priority3-{{stage.id}}"
                                                        class="asterisk-off icon ni ni-star"></em>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="kanban-item-meta">
                                        <ul class="kanban-item-meta-list">
                                            <li>
                                                {{form3.submit1(class="btn btn-primary")}}
                                            </li>
                                            <li>
                                                <a id="discard_item-{{stage.id}}" href="#"
                                                    class="discard-item btn btn-outline-light">Discard</a>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                            {% for record in pipeline %}
                            {% if record.stage_id == stage.id %}
                            <div class="kanban-item">
                                <a href="{{url_for('crm.lead', slug=record.slug)}}">
                                    <div class="kanban-item-title">
                                        <h6 class="title">{{record.name}}</h6>
                                        <div class="drodown">
                                            <div class="drodown">
                                                <a href="#"
                                                    class="dropdown-toggle btn btn-sm btn-icon btn-trigger mr-n1"
                                                    data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="{{url_for('crm.edit_lead', slug=record.slug)}}"><em
                                                                    class="icon ni ni-edit"></em><span>Edit</span></a>
                                                        </li>
                                                        <li><a href="#"><em
                                                                    class="icon ni ni-delete"></em><span>Delete</span></a>
                                                        </li>
                                                        <hr>
                                                        {% for stage in stages %}
                                                        <li><a href="{{url_for('crm.move_stage', slug=record.slug, stage_id=stage.id)}}"
                                                                {% if stage.id==record.stage_id %}style="display: none;"
                                                                {% endif %}><em
                                                                    class="icon ni ni-bullet"></em><span>{{stage.name}}</span></a>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kanban-item-text">
                                        <p>
                                            {{record.partner_currency}}&nbsp;{{record.expected_revenue}}
                                        </p>
                                    </div>
                                    <div class="kanban-item-text">
                                        <p>
                                            {% if record.opportunity.is_company %}
                                            {{record.opportunity.company_name}}
                                            {% elif record.opportunity.is_individual %}
                                            {{record.opportunity.name}}&nbsp;-&nbsp;{{record.opportunity.parent.company_name}}
                                            {% endif %}
                                        </p>
                                    </div>

                                    <div class="kanban-item-text">
                                        {% if record.priority == '0' %}
                                        <a data-toggle="tooltip" data-placement="top" title="Medium"
                                            id="_selectPriority1-{{record.id}}" name="{{record.id}}"
                                            class="select-priority-update">
                                            <em id="_priority1-{{record.id}}" class="asterisk-off icon ni ni-star"></em>
                                        </a>
                                        <a id="_selectPriority2-{{record.id}}" class="select-priority-update"
                                            name="{{record.id}}">
                                            <em id="_priority2-{{record.id}}" class="asterisk-off icon ni ni-star"></em>
                                        </a>
                                        <a id="_selectPriority3-{{record.id}}" class="select-priority-update"
                                            name="{{record.id}}">
                                            <em id="_priority3-{{record.id}}" class="asterisk-off icon ni ni-star"></em>
                                        </a>
                                        {% elif record.priority == '1' %}
                                        <a id="_selectPriority1-{{record.id}}" class="select-priority-update"
                                            data-toggle="tooltip" data-placement="top" title="Medium"
                                            name="{{record.id}}"><em id="_priority1-{{record.id}}"
                                                class="icon ni ni-star-fill"></em></a>
                                        <a id="_selectPriority2-{{record.id}}" class="select-priority-update"
                                            data-toggle="tooltip" data-placement="top" title="High"
                                            name="{{record.id}}">
                                            <em id="_priority2-{{record.id}}" class="asterisk-off icon ni ni-star"></em>
                                        </a>
                                        <a id="_selectPriority3-{{record.id}}" class="select-priority-update"
                                            data-toggle="tooltip" data-placement="top" title="Very High"
                                            name="{{record.id}}">
                                            <em id="_priority3-{{record.id}}" class="asterisk-off icon ni ni-star"></em>
                                        </a>
                                        {% elif record.priority == '2' %}
                                        <a id="_selectPriority1-{{record.id}}" name="{{record.id}}"
                                            data-toggle="tooltip" data-placement="top" title="Medium"
                                            class="select-priority-update">
                                            <em id="_priority1-{{record.id}}" class="icon ni ni-star-fill"></em>
                                        </a>
                                        <a id="_selectPriority2-{{record.id}}" name="{{record.id}}"
                                            data-toggle="tooltip" data-placement="top" title="High"
                                            class="select-priority-update">
                                            <em id="_priority2-{{record.id}}" class="icon ni ni-star-fill"></em>
                                        </a>
                                        <a id="_selectPriority3-{{record.id}}" name="{{record.id}}"
                                            data-toggle="tooltip" data-placement="top" title="Very High"
                                            class="select-priority-update">
                                            <em id="_priority3-{{record.id}}" class="asterisk-off icon ni ni-star"></em>
                                        </a>
                                        {% elif record.priority == '3' %}
                                        <a id="_selectPriority1-{{record.id}}" name="{{record.id}}"
                                            data-toggle="tooltip" data-placement="top" title="Medium"
                                            class="select-priority-update">
                                            <em id="_priority1-{{record.id}}" class="icon ni ni-star-fill"></em>
                                        </a>
                                        <a id="_selectPriority2-{{record.id}}" name="{{record.id}}"
                                            data-toggle="tooltip" data-placement="top" title="High"
                                            class="select-priority-update">
                                            <em id="_priority2-{{record.id}}" class="icon ni ni-star-fill"></em>
                                        </a>
                                        <a id="_selectPriority3-{{record.id}}" name="{{record.id}}"
                                            data-toggle="tooltip" data-placement="top" title="Very High"
                                            class="select-priority-update">
                                            <em id="_priority3-{{record.id}}" class="icon ni ni-star-fill"></em>
                                        </a>
                                        {% endif %}
                                    </div>
                                    <div class="kanban-item-text">
                                        <div class="drodown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <div class="icon-status icon-status-info">
                                                    <em style="font-size: 20px;" class="icon ni ni-list-thumb"></em>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-left">
                                                <div class="dropdown-head">
                                                    <span class="sub-title nk-dropdown-title">Activities</span>
                                                </div>
                                                <ul class="link-list-opt no-bdr">
                                                    {% for activity in activities %}
                                                    {% if activity.lead_id == record.id %}
                                                    <li>
                                                        <a href="#" data-toggle="modal"
                                                            data-target="#ActivityModal{{activity.id}}">
                                                            {% if activity.type.name == "Call" or activity.type.name ==
                                                            "Call for Demo" %}
                                                            <em class="icon ni ni-call"></em>
                                                            {% elif activity.type.name == "Email" %}
                                                            <em class="icon ni ni-mail"></em>
                                                            {% elif activity.type.name == "Meeting" %}
                                                            <em class="icon ni ni-calendar"></em>
                                                            {% elif activity.type.name == "Upload Document" %}
                                                            <em class="icon ni ni-upload"></em>
                                                            {% elif activity.type.name == "To Do" %}
                                                            <em class="icon ni ni-todo"></em>
                                                            {% elif activity.type.name == "Make Quote" or
                                                            activity.type.name == "Follow-Up Quote" %}
                                                            <em class="icon ni ni-sign-dollar"></em>
                                                            {% else %}
                                                            <em class="icon ni ni-property-blank"></em>
                                                            {% endif %}
                                                            <span>{{activity.summary}}</span>
                                                        </a>
                                                    </li>
                                                    <hr>
                                                    {% endif %}
                                                    {% endfor %}
                                                    <li>
                                                        <a id="{{record.id}}" class="schedule" href="#"
                                                            data-toggle="modal" data-target="#modalActivity">
                                                            <em class="icon ni ni-plus-sm"></em>
                                                            <span>Schedule an Activity</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="kanban-item-tags">
                                        <li><span {% if record.user_id==current_user.id %} class="badge badge-primary"
                                                {% else %} class="badge badge-secondary" {% endif
                                                %}>{{record.user_id|get_user_name}}</span></li>
                                    </ul>
                                </a>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </main>
                        {% if current_user|can_create(5) %}
                        <footer>
                            <button id="btn_additem-{{stage.id}}" class="add-item kanban-add-task btn btn-block">
                                <em class="icon ni ni-plus-sm"></em>
                                <span>
                                    {% if record %}
                                    Add another item
                                    {% else %}
                                    Add item
                                    {% endif %}
                                </span>
                            </button>
                        </footer>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</div>
<div class="modal fade" role="dialog" id="profile-edit">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg">
                <h5 class="title">New Organization/Contact</h5>
                <ul class="nk-nav nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#individual">Individual</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#company">Company</a>
                    </li>
                </ul><!-- .nav-tabs -->
                <div class="tab-content">
                    <div class="tab-pane active" id="company">
                        <form id="new_company_contact" action="{{url_for('crm.new_company_contact')}}" method="POST">
                            {{form1.hidden_tag()}}
                            <div class="row gy-4">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form1.companyname.label(class="form-label") }}
                                        {{ form1.companyname(class="form-control form-control-m",
                                        placeholder="Company Name") }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form1.phonenumber.label(class="form-label") }}
                                        {{ form1.phonenumber(class="form-control form-control-m",
                                        placeholder="Phone Number") }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form1.email.label(class="form-label") }}
                                        {{ form1.email(class="form-control form-control-m",
                                        placeholder="Email Address") }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form1.website.label(class="form-label") }}
                                        {{ form1.website(class="form-control form-control-m",
                                        placeholder="http://...") }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                        <li>
                                            {{form1.submit1(class="btn btn-m btn-primary btn-block")}}
                                        </li>
                                        <li>
                                            <a href="#" data-dismiss="modal" class="btn btn-outline-light">Cancel</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div><!-- .tab-pane -->
                    <div class="tab-pane" id="individual">
                        <form id="new_individual_contact" action="{{url_for('crm.new_individual_contact')}}"
                            method="POST">
                            {{form2.hidden_tag()}}
                            <div class="row gy-4">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Title</label>
                                        <div class="form-control-wrap">
                                            <select name="select_title" class="form-select" data-search="on">
                                                <option value="default_option">Select title</option>
                                                {% for title in titles %}
                                                <option value="{{title}}">{{title}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form2.name.label(class="form-label") }}
                                        {{ form2.name(class="form-control form-control-m",
                                        placeholder="Name") }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Company</label>
                                        <div class="form-control-wrap">
                                            <select id="select_company" name="select_company" class="form-select"
                                                data-search="on">
                                                <option value="default_option">Select company</option>
                                                {% for company in companies %}
                                                <option value="{{company.id}}">{{company.company_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form2.phonenumber.label(class="form-label") }}
                                        {{ form2.phonenumber(class="form-control form-control-m",
                                        placeholder="Phone Number") }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form2.email.label(class="form-label") }}
                                        {{ form2.email(class="form-control form-control-m",
                                        placeholder="Email Address") }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form2.website.label(class="form-label") }}
                                        {{ form2.website(class="form-control form-control-m",
                                        placeholder="http://...") }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form2.jobposition.label(class="form-label") }}
                                        {{ form2.jobposition(class="form-control form-control-m",
                                        placeholder="e.g Sales Director") }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                        <li>
                                            {{form2.submit2(class="btn btn-m btn-primary btn-block")}}
                                        </li>
                                        <li>
                                            <a href="#" data-dismiss="modal" class="btn btn-outline-light">Cancel</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div><!-- .tab-pane -->
                </div><!-- .tab-content -->
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalNewPlan">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-md">
                <h4 class="title">New Recurring Plan</h4>
                <div class="tab-content">
                    <div class="form-control-wrap">
                        <form id="new_recurring_plan" action="{{url_for('crm.new_recurring_plan')}}" method="POST">
                            {{form4.hidden_tag()}}
                            <div class="input-group">
                                {{form4.name(class="form-control", placeholder="New plan")}}
                                <div class="input-group-append">
                                    {{form4.submit(class="btn btn-outline-primary btn-dim")}}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalEditStage">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-md">
                <h4 id="h_title" class="title">Edit Stage</h4>
                <div class="tab-content">
                    <div class="form-control-wrap">
                        <form id="frm_editStage" action="{{url_for('crm.edit_stage')}}" method="POST">
                            {{form5.hidden_tag()}}
                            <div class="input-group">
                                {{form5.stage_name(class="form-control", placeholder="Stage name")}}
                                <div class="input-group-append">
                                    {{form5.submit_stage_edits(class="btn btn-outline-primary btn-dim")}}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalAddStage">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-md">
                <h4 id="addstage_title" class="title">Add Stage</h4>
                <div class="tab-content">
                    <div class="form-control-wrap">
                        <form id="frm_addStage" action="{{url_for('crm.pipeline')}}" method="POST">
                            {{form6.hidden_tag()}}
                            <div class="input-group">
                                {{form6.name(class="form-control", placeholder="Add stage")}}
                                <!-- <input class="form-control" id="new_stage_name" name="new_stage_name"
                                    placeholder="Stage name" type="text" value=""> -->
                                <div class="input-group-append">
                                    {{form6.submit6(class="btn btn-primary")}}
                                    <!-- <a id="submit_new_stage" href="#" class="btn btn-primary">Add</a> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if not pipeline and not request.args.get('new_stage') %}
<div class="modal fade show" tabindex="-1" id="modalAlert" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross"></em></a>
            <div class="modal-body modal-body-lg text-center">
                <div class="nk-modal">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 114 113.9">
                        <path
                            d="M87.84,110.34l-48.31-7.86a3.55,3.55,0,0,1-3.1-4L48.63,29a3.66,3.66,0,0,1,4.29-2.8L101.24,34a3.56,3.56,0,0,1,3.09,4l-12.2,69.52A3.66,3.66,0,0,1,87.84,110.34Z"
                            transform="translate(-4 -2.1)" fill="#c4cefe" />
                        <path
                            d="M33.73,105.39,78.66,98.1a3.41,3.41,0,0,0,2.84-3.94L69.4,25.05a3.5,3.5,0,0,0-4-2.82L20.44,29.51a3.41,3.41,0,0,0-2.84,3.94l12.1,69.11A3.52,3.52,0,0,0,33.73,105.39Z"
                            transform="translate(-4 -2.1)" fill="#c4cefe" />
                        <rect x="22" y="17.9" width="66" height="88" rx="3" ry="3" fill="#017e84" />
                        <rect x="31" y="85.9" width="48" height="10" rx="1.5" ry="1.5" fill="#fff" />
                        <rect x="31" y="27.9" width="48" height="5" rx="1" ry="1" fill="#e3e7fe" />
                        <rect x="31" y="37.9" width="23" height="3" rx="1" ry="1" fill="#c4cefe" />
                        <rect x="59" y="37.9" width="20" height="3" rx="1" ry="1" fill="#c4cefe" />
                        <rect x="31" y="45.9" width="23" height="3" rx="1" ry="1" fill="#c4cefe" />
                        <rect x="59" y="45.9" width="20" height="3" rx="1" ry="1" fill="#c4cefe" />
                        <rect x="31" y="52.9" width="48" height="3" rx="1" ry="1" fill="#e3e7fe" />
                        <rect x="31" y="60.9" width="23" height="3" rx="1" ry="1" fill="#c4cefe" />
                        <path
                            d="M98.5,116a.5.5,0,0,1-.5-.5V114H96.5a.5.5,0,0,1,0-1H98v-1.5a.5.5,0,0,1,1,0V113h1.5a.5.5,0,0,1,0,1H99v1.5A.5.5,0,0,1,98.5,116Z"
                            transform="translate(-4 -2.1)" fill="#9cabff" />
                        <path
                            d="M16.5,85a.5.5,0,0,1-.5-.5V83H14.5a.5.5,0,0,1,0-1H16V80.5a.5.5,0,0,1,1,0V82h1.5a.5.5,0,0,1,0,1H17v1.5A.5.5,0,0,1,16.5,85Z"
                            transform="translate(-4 -2.1)" fill="#9cabff" />
                        <path d="M7,13a3,3,0,1,1,3-3A3,3,0,0,1,7,13ZM7,8a2,2,0,1,0,2,2A2,2,0,0,0,7,8Z"
                            transform="translate(-4 -2.1)" fill="#9cabff" />
                        <path
                            d="M113.5,71a4.5,4.5,0,1,1,4.5-4.5A4.51,4.51,0,0,1,113.5,71Zm0-8a3.5,3.5,0,1,0,3.5,3.5A3.5,3.5,0,0,0,113.5,63Z"
                            transform="translate(-4 -2.1)" fill="#9cabff" />
                        <path
                            d="M107.66,7.05A5.66,5.66,0,0,0,103.57,3,47.45,47.45,0,0,0,85.48,3h0A5.66,5.66,0,0,0,81.4,7.06a47.51,47.51,0,0,0,0,18.1,5.67,5.67,0,0,0,4.08,4.07,47.57,47.57,0,0,0,9,.87,47.78,47.78,0,0,0,9.06-.87,5.66,5.66,0,0,0,4.08-4.09A47.45,47.45,0,0,0,107.66,7.05Z"
                            transform="translate(-4 -2.1)" fill="#2ec98a" />
                        <path
                            d="M100.66,12.81l-1.35,1.47c-1.9,2.06-3.88,4.21-5.77,6.3a1.29,1.29,0,0,1-1,.42h0a1.27,1.27,0,0,1-1-.42c-1.09-1.2-2.19-2.39-3.28-3.56a1.29,1.29,0,0,1,1.88-1.76c.78.84,1.57,1.68,2.35,2.54,1.6-1.76,3.25-3.55,4.83-5.27l1.35-1.46a1.29,1.29,0,0,1,1.9,1.74Z"
                            transform="translate(-4 -2.1)" fill="#fff" />
                    </svg>
                    {% if message %}
                    <h4 class="nk-modal-title">{{message}}</h4>
                    {% else %}
                    <h4 class="nk-modal-title">Create an opportunity to start playing with your pipeline.</h4>
                    {% endif %}
                    <div class="nk-modal-action">
                        {% if stages %}
                        <a id="create_opportunity-{{stages[0].id}}" href="#"
                            class="btn btn-m btn-mw btn-primary first-opportunity" data-dismiss="modal">Create</a>
                        {% else %}
                        <a id="create_opportunity-#" href="#" class="btn btn-m btn-mw btn-primary first-opportunity"
                            data-dismiss="modal">Create</a>
                        {% endif %}
                    </div>
                </div>
            </div><!-- .modal-body -->
        </div>
    </div>
</div>
<div class="modal-backdrop fade show"></div>
{% endif %}
<div class="modal fade" tabindex="-1" id="confirmDelete">
    <div class="modal-dialog modal-dialog-top" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this stage. By clicking delete your stage will no longer appear on
                    your view.</p>
                <div class="nk-modal-action" style="margin-top: 0rem !important">
                    <a id="deleteStage" href="#" class="btn btn-m btn-mw btn-danger">Delete</a>
                    <a href="#" class="btn btn-m btn-mw btn-light" data-dismiss="modal">Cancel</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalActivity">
    <div class="modal-dialog mx-w-80" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Schedule Activity</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <form action="{{url_for('crm.pipeline')}}" class="form-validate is-alter" method="post">
                <input type="hidden" name="record_id" class="record_id" />
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                <div class="modal-body">
                    <div class="row gy-4">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label" for="activity_type">Activity Type</label>
                                <div class="form-control-wrap">
                                    <select class="form-select" name="activity_type">
                                        <option value="#">Select Activity Type</option>
                                        {% for activity_type in activity_types %}
                                        <option value="{{activity_type.id}}">{{activity_type.name|title}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label" for="due_date">Due Date</label>
                                <div class="form-control-wrap">
                                    <input type="date" class="form-control" id="due_date" name="due_date">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label" for="summary">Summary</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control" id="summary" name="summary"
                                        placeholder="E.g Discuss proposal">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label" for="default-04">Assigned To</label>
                                <div class="form-control-wrap">
                                    <select class="form-select" name="assignee">
                                        <option value="#">Select Assignee</option>
                                        {% for assignee in assignees %}
                                        <option value="{{assignee.id}}">{{assignee.name|title}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="quill-editor">
                                <p>....</p>
                                <textarea name="text" style="display:none" class="hiddenArea"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer bg-light">
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary">Schedule</button>
                        <button class="btn btn-lg btn-secondary">Mark as Done</button>
                        <button class="btn btn-lg btn-secondary">Done & Schedule Next</button>
                        <button class="btn btn-lg btn-secondary" data-dismiss="modal">Discard</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% for activity in activities %}
<div class="modal fade" id="ActivityModal{{activity.id}}">
    <div class="modal-dialog mx-w-80" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Schedule Activity</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <form action="{{url_for('crm.pipeline')}}" class="form-validate is-alter" method="post">
                <input type="hidden" name="record_id" class="record_id" />
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                <div class="modal-body">
                    <div class="row gy-4">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label" for="activity_type">Activity Type</label>
                                <div class="form-control-wrap">
                                    <select class="form-select" name="activity_type">
                                        <option value="#">Select Activity Type</option>
                                        {% for activity_type in activity_types %}
                                        <option value="{{activity_type.id}}" {% if
                                            activity_type.id==activity.activity_type %}selected{% endif %}>
                                            {{activity_type.name|title}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label" for="due_date">Due Date</label>
                                <div class="form-control-wrap">
                                    <input type="date" class="form-control" id="due_date" name="due_date"
                                        value="{{activity.due_date}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label" for="summary">Summary</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control" id="summary" name="summary"
                                        placeholder="E.g Discuss proposal" value="{{activity.summary}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label" for="default-04">Assigned To</label>
                                <div class="form-control-wrap">
                                    <select class="form-select" name="assignee">
                                        <option value="#">Select Assignee</option>
                                        {% for assignee in assignees %}
                                        <option value="{{assignee.id}}" {% if assignee.id==activity.assigned_to
                                            %}selected{% endif %}>{{assignee.name|title}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <textarea class="summernote" name="notes">{{activity.notes}}</textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer bg-light">
                    <div class="form-group">
                        <a href="{{url_for('crm.update_activity', id=activity.id)}}" type="submit"
                            class="btn btn-lg btn-primary">Save</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}