{% extends "base.html" %}

{% block content %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h3 class="nk-block-title page-title">Contacts</h3>
                    <div class="nk-block-des text-soft">
                        <p>You have {{contacts|length}} contacts.</p>
                    </div>
                </div><!-- .nk-block-head-content -->
                <div class="nk-block-head-content">
                    <div class="toggle-wrap nk-block-tools-toggle">
                        <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em
                                class="icon ni ni-menu-alt-r"></em></a>
                        <div class="toggle-expand-content" data-content="pageMenu">
                            <ul class="nk-block-tools g-3">
                                <li>
                                    <div class="drodown">
                                        <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light"
                                            data-toggle="dropdown"><em
                                                class="d-none d-sm-inline icon ni ni-filter-alt"></em><span>Filter
                                                By</span><em class="dd-indc icon ni ni-chevron-right"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="#"><span>Individuals</span></a></li>
                                                <li><a href="#"><span>Companies</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                {% if current_user|can_create(3) %}
                                <li class="nk-block-tools-opt"><a href="{{url_for('contacts.create')}}"
                                        class="btn btn-primary"><em class="icon ni ni-plus"></em><span>Create</span></a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div><!-- .toggle-wrap -->
                </div><!-- .nk-block-head-content -->
            </div><!-- .nk-block-between -->
            <div class="nk-search-box">
                <div class="form-group">
                    <div class="form-control-wrap">
                        <input id="search_contacts" type="text" class="form-control form-control-lg"
                            placeholder="Search...">
                        <button class="form-icon form-icon-right">
                            <em class="icon ni ni-search"></em>
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- .nk-block-head -->
        <div class="nk-block">
            <div class="row g-gs">
                {% for contact in contacts %}
                <div class="col-sm-6 col-xl-3">
                    <div class="card card-bordered">
                        <div class="card-inner">
                            <div class="team">
                                <div class="team-options">
                                    <div class="drodown">
                                        <a href="#" class="dropdown-toggle btn btn-sm btn-icon btn-trigger"
                                            data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="#"><em class="icon ni ni-eye"></em><span>View
                                                            Details</span></a></li>
                                                <li><a href="#"><em class="icon ni ni-mail"></em><span>Send
                                                            Email</span></a></li>
                                                <li class="divider"></li>
                                                <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Reset
                                                            Pass</span></a></li>
                                                <li><a href="#"><em class="icon ni ni-shield-off"></em><span>Reset
                                                            2FA</span></a></li>
                                                <li><a href="#"><em class="icon ni ni-na"></em><span>Suspend
                                                            User</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-card user-card-s2">
                                    <div class="user-info">
                                        <h6>
                                            {% if contact.is_tenant or contact.is_individual %}
                                            {{contact.name}}
                                            {% elif contact.is_company %}
                                            {{contact.company_name}}
                                            {% endif %}
                                        </h6>
                                        <h6>
                                            {% if contact.is_tenant %}
                                            {{contact.company.name|title}}
                                            {% elif contact.is_individual %}
                                            {{contact.parent.company_name|title}}
                                            {% endif %}
                                        </h6>
                                        <span class="sub-text">
                                            {% if (contact.is_tenant or contact.is_individual) and (contact.function) %}
                                            {{contact.function}}
                                            {% elif contact.is_company %}
                                            {{contact.city.name}},&nbsp;{{contact.country.name}}
                                            {% endif %}
                                        </span>
                                        <span class="sub-text">
                                            {{contact.email}}
                                        </span>
                                    </div>
                                </div>
                                <div class="team-view">
                                    <a href="{{url_for('contacts.view_contact', slug=contact.slug)}}"
                                        class="btn btn-round btn-outline-light w-150px"><span>View Profile</span></a>
                                </div>
                            </div><!-- .team -->
                        </div><!-- .card-inner -->
                    </div><!-- .card -->
                </div><!-- .col -->
                {% endfor %}
            </div>
        </div><!-- .nk-block -->

    </div>
    <!-- footer @s -->
    {% include "footer.html" %}
    <!-- footer @e -->
</div>
{% endblock %}