{% extends "base.html" %}

{% block content %}
<style>
    .nk-aside {
        display: none;
    }
</style>
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h3 class="nk-block-title page-title">Your Apps</h3>
                    <div class="nk-block-des text-soft">
                        <p>You have {{modules|length-1}} app(s) installed.</p>
                    </div>
                </div><!-- .nk-block-head-content -->
                <div class="nk-block-head-content">
                    <div class="toggle-wrap nk-block-tools-toggle">
                        <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em
                                class="icon ni ni-menu-alt-r"></em></a>                        
                    </div><!-- .toggle-wrap -->
                </div><!-- .nk-block-head-content -->
            </div><!-- .nk-block-between -->
        </div><!-- .nk-block-head -->
        <div class="nk-block">
            <div class="row g-gs">
                {% for module in modules %}
                {% if module.id|can_view_module %}
                <div class="col-sm-6 col-xl-3" onclick="location.href='/{{module.bp_name}}/';" style="cursor: pointer;">
                    <div class="card card-bordered h-100">
                        <div class="card-inner">
                            <div class="project">
                                <div class="project-head">
                                    <a href="/{{module.bp_name}}/" class="project-title">
                                        <div class="project-info">
                                            <h6 class="title">{{module.official_name}}</h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="project-details">
                                    <p>{{module.summary}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div><!-- .nk-block -->
    </div>
    <!-- footer @s -->
    {% include "footer.html" %}
</div>
{% endblock %}