<div class="nk-aside" data-content="sideNav" data-toggle-overlay="true" data-toggle-screen="lg" data-toggle-body="true">
    <div class="nk-sidebar-menu" data-simplebar>
        <ul class="nk-menu nk-menu-main">
            {% if "crm." in request.url_rule.endpoint %}
            <li class="nk-menu-item has-sub">
                <a href="#" class="nk-menu-link nk-menu-toggle">
                    <span class="nk-menu-text">Sales</span>
                </a>
                <ul class="nk-menu-sub">
                    <li class="nk-menu-item">
                        <a href="#" class="nk-menu-link"><span class="nk-menu-text">My Pipeline</span></a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="@" class="nk-menu-link"><span class="nk-menu-text">My Activities</span></a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="#" class="nk-menu-link"><span class="nk-menu-text">Teams</span></a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="#" class="nk-menu-link"><span class="nk-menu-text">Customers</span></a>
                    </li>
                </ul><!-- .nk-menu-sub -->
            </li><!-- .nk-menu-item -->
            <li class="nk-menu-item">
                <a href="{{url_for('crm.reporting')}}" class="nk-menu-link">
                    <span class="nk-menu-text">Reporting</span>
                </a>
            </li><!-- .nk-menu-item -->
            <li class="nk-menu-item has-sub">
                <a href="#" class="nk-menu-link nk-menu-toggle">
                    <span class="nk-menu-text">Configuration</span>
                </a>
                <ul class="nk-menu-sub">
                    <li class="nk-menu-item">
                        <a href="html/apps-messages.html" class="nk-menu-link"><span
                                class="nk-menu-text">Settings</span></a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="{{url_for('crm.sales_teams')}}" class="nk-menu-link"><span class="nk-menu-text">Sales
                                Teams</span></a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="html/apps-file-manager.html" class="nk-menu-link"><span class="nk-menu-text">Activity
                                Types</span></a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="html/apps-chats.html" class="nk-menu-link"><span
                                class="nk-menu-text">Pipeline</span></a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="html/apps-calendar.html" class="nk-menu-link"><span class="nk-menu-text">Lead
                                Generation</span></a>
                    </li>
                </ul><!-- .nk-menu-sub -->
            </li><!-- .nk-menu-item -->
            {% endif %}
        </ul><!-- .nk-menu -->
        <ul class="nk-menu">
            <li class="nk-menu-heading">
                <h6 class="overline-title text-primary-alt">App Menu</h6>
            </li><!-- .nk-menu-heading -->
            {% for module in modules %}
            {% if module.id|can_view_module %}
            <li class="nk-menu-item">
                <a href="/{{module.bp_name}}/" class="nk-menu-link">
                    <span class="nk-menu-icon"></em></span>
                    <span class="nk-menu-text">{{module.official_name}}</span>
                </a>
            </li><!-- .nk-menu-item -->
            {% endif %}
            {% endfor %}
            <li class="nk-menu-item">
                <a href="{{url_for('main.index')}}" class="nk-menu-link">
                    <span class="nk-menu-icon"><em class="icon ni ni-home"></em></span>
                    <span class="nk-menu-text">Home</span>
                </a>
            </li>
            <li class="nk-menu-item">
                <a href="{{url_for('settings.get_apps')}}" class="nk-menu-link">
                    <span class="nk-menu-icon"><em class="icon ni ni-layers"></em></span>
                    <span class="nk-menu-text">Apps</span>
                </a>
            </li>
            <li class="nk-menu-heading">
                <h6 class="overline-title text-primary-alt">Others</h6>
            </li><!-- .nk-menu-heading -->
            <li class="nk-menu-item has-sub">
                <a href="#" class="nk-menu-link nk-menu-toggle">
                    <span class="nk-menu-icon"><em class="icon ni ni-setting"></em></span>
                    <span class="nk-menu-text">Settings</span>
                </a>
                <ul class="nk-menu-sub">
                    <li class="nk-menu-item">
                        <a href="{{url_for('settings.settings')}}" id="general_settings" class="nk-menu-link"><span
                                class="nk-menu-text">General
                                Settings</span></a>
                    </li>
                    {% for module in modules %}
                    {% if module.id != 1 %}
                    {% if module.id|can_view_module %}
                    <li class="nk-menu-item">
                        <a href="#" id="settings_{{module.id}}" class="nk-menu-link"><span
                                class="nk-menu-text">{{module.official_name[4:]}}</span></a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul><!-- .nk-menu-sub -->
            </li><!-- .nk-menu-item -->
        </ul><!-- .nk-menu -->
    </div><!-- .nk-sidebar-menu -->
    <div class="nk-aside-close">
        <a href="#" class="toggle" data-target="sideNav"><em class="icon ni ni-cross"></em></a>
    </div><!-- .nk-aside-close -->
</div><!-- .nk-aside -->