<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Grow your business with our suite of apps">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.png')}}">
    <!-- Page Title  -->
    <title>{% if title %}{{ title }}{% else %}Welcome to Olam{% endif %}</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashlite.css')}}">
    <link id="skin-default" rel="stylesheet" href="{{url_for('static', filename='css/theme.css')}}">
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    {{ moment.include_moment() }}
    <style>
        .nk-content-wrap {
            margin-bottom: 15px !important;
        }

        .nk-aside {
            display: none;
            margin-right: 0% !important;
        }
    </style>
</head>

<body class="nk-body bg-white npc-default apps-only">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-lg wide-xl">
                        <div class="nk-header-wrap">
                            <div class="nk-header-brand">
                                <a href="html/index.html" id="toggle-anchr" data-target="sideNav"
                                    class="toggle nk-quick-nav-icon mr-n1">
                                    <em class="icon ni ni-menu-squared"></em>
                                </a>
                            </div>
                            <div class="nk-header-menu">
                                <ul class="nk-menu nk-menu-main">
                                    {% if "crm." in request.url_rule.endpoint %}
                                    <li class="nk-menu-item has-sub">
                                        <a href="#" class="nk-menu-link nk-menu-toggle" data-original-title="" title="">
                                            <span class="nk-menu-text">Sales</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="#" class="nk-menu-link" data-original-title="" title=""><span
                                                        class="nk-menu-text">My Pipeline</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="#" class="nk-menu-link" data-original-title="" title=""><span
                                                        class="nk-menu-text">My Activities</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="#" class="nk-menu-link" data-original-title="" title=""><span
                                                        class="nk-menu-text">Teams</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="#" class="nk-menu-link" data-original-title="" title=""><span
                                                        class="nk-menu-text">Customers</span></a>
                                            </li>
                                        </ul><!-- .nk-menu-sub -->
                                    </li><!-- .nk-menu-item -->
                                    <li class="nk-menu-item">
                                        <a href="{{url_for('crm.reporting')}}" class="nk-menu-link"
                                            data-original-title="" title="">
                                            <span class="nk-menu-text">Reporting</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item has-sub">
                                        <a href="{{url_for('crm.configuration')}}" class="nk-menu-link nk-menu-toggle"
                                            data-original-title="" title="">
                                            <span class="nk-menu-text">Configuration</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="html/apps-messages.html" class="nk-menu-link"
                                                    data-original-title="" title=""><span
                                                        class="nk-menu-text">Settings</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="{{url_for('crm.sales_teams')}}" class="nk-menu-link"
                                                    data-original-title="" title=""><span class="nk-menu-text">Sales
                                                        Teams</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="html/apps-file-manager.html" class="nk-menu-link"
                                                    data-original-title="" title=""><span class="nk-menu-text">Activity
                                                        Types</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="html/apps-chats.html" class="nk-menu-link"
                                                    data-original-title="" title=""><span
                                                        class="nk-menu-text">Pipeline</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="html/apps-calendar.html" class="nk-menu-link"
                                                    data-original-title="" title=""><span class="nk-menu-text">Lead
                                                        Generation</span></a>
                                            </li>
                                        </ul><!-- .nk-menu-sub -->
                                    </li><!-- .nk-menu-item -->
                                    <!-- .nk-menu-item -->
                                    {% endif %}
                                </ul><!-- .nk-menu -->
                            </div>
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                    <li class="dropdown notification-dropdown">
                                        <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                                            <div class="icon-status icon-status-info"><em class="icon ni ni-task"></em>
                                            </div>
                                        </a>
                                        <div
                                            class="dropdown-menu dropdown-menu-xl dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-head">
                                                <span class="sub-title nk-dropdown-title">Activities</span>
                                                <a href="#">{{_activities|length}}</a>
                                            </div>
                                            <div class="dropdown-body">
                                                <div class="nk-notification">
                                                    {% for activity in _activities %}
                                                    <a
                                                        href="{{activity.module.bp_name}}/activities?model={{activity.model.name}}">
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text">
                                                                    {{activity.model.name}}</div>
                                                                <div class="nk-notification-time">
                                                                    {{activity.model.id|no_activities}} activities</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    {% endfor %}
                                                </div><!-- .nk-notification -->
                                            </div><!-- .nk-dropdown-body -->
                                            <div class="dropdown-foot center">
                                                <a href="#">View All</a>
                                            </div>
                                        </div>
                                    </li><!-- .dropdown -->
                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle mr-lg-n1" data-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm">
                                                    <em class="icon ni ni-user-alt"></em>
                                                </div>
                                                <div class="user-name dropdown-indicator d-none d-sm-block">
                                                    {{current_user.partner.company.name|upper}}</div>
                                            </div>
                                        </a>
                                        <div
                                            class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                <div class="user-card">
                                                    <div class="user-info">
                                                        <span class="lead-text">{{current_user.partner.name}}</span>
                                                        <span class="sub-text">{{current_user.partner.email}}</span>
                                                    </div>
                                                    <div class="user-action">
                                                        <a class="btn btn-icon mr-n2"
                                                            href="{{url_for('settings.user_profile')}}"><em
                                                                class="icon ni ni-setting"></em></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="{{url_for('settings.user_profile')}}"><em
                                                                class="icon ni ni-user-alt"></em><span>View
                                                                Profile</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="{{ url_for('auth.logout') }}"><em
                                                                class="icon ni ni-signout"></em><span>Sign
                                                                out</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li><!-- .dropdown -->
                                </ul><!-- .nk-quick-nav -->
                            </div><!-- .nk-header-tools -->
                        </div><!-- .nk-header-wrap -->
                    </div><!-- .container-fliud -->
                </div>
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            {% include "aside.html" %}
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <!-- content @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    {% if title == 'Meetings | Olam ERP' %}
    <script src="{{url_for('static', filename='js/bundle.js')}}"></script>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    <script src="{{url_for('static', filename='js/libs/fullcalendar.js')}}"></script>
    <script src="{{url_for('static', filename='js/apps/calendar.js')}}"></script>
    {% elif title == 'CRM Pipeline | Olam ERP' %}
    <script src="{{url_for('static', filename='js/bundle.js')}}"></script>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    <!-- <script src="{{url_for('static', filename='js/libs/jkanban.js')}}"></script> -->
    <script src="{{url_for('static', filename='js/apps/kanban.js')}}"></script>
    {% else %}
    <script src="{{url_for('static', filename='js/bundle.js')}}"></script>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    <script src="{{url_for('static', filename='js/apps/inbox.js')}}"></script>
    <script src="{{url_for('static', filename='js/libs/tagify.js')}}"></script>
    {% endif %}
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var quill = new Quill('.quill-editor', {
            theme: 'snow'
        });

        var quill_editor = document.querySelector(".quill-editor");
        quill_editor.oninput = handleInput

        function handleInput(e) {
            var html = quill_editor.children[0].innerHTML
            console.log(html)
        }
    </script>
</body>


</html>